.card:hover {
    transform: scale(1.05);
    transition: all .3s ease-in-out;
    -webkit-box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
    box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
    opacity: 1;
}

.footer-item:hover {
    color: rgb(138, 194, 185);
}
.item-menu:hover{
    color: rgb(138, 194, 185);
}

.items-link:hover {
    color: black;
    font-size: 2.8em;
}

.imagen:hover {
    transform: scale(1.04);
    transition: all .3s ease-in-out;

}

.items:hover {
    animation: wiggle 2s linear infinite;
    background-color: rgb(94, 190, 126);

}

@keyframes wiggle {

    0%,
    7% {
        transform: rotateZ(0);
    }

    15% {
        transform: rotateZ(-15deg);
    }

    20% {
        transform: rotateZ(10deg);
    }

    25% {
        transform: rotateZ(-10deg);
    }

    30% {
        transform: rotateZ(6deg);
    }

    35% {
        transform: rotateZ(-4deg);
    }

    40%,
    100% {
        transform: rotateZ(0);
    }
}
