.card:hover {
    transform: scale(1.05);
    transition: all .3s ease-in-out;
    -webkit-box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
    box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
    opacity: 1;
}

.footer-item:hover {
    color: $color-base;
}

.item-menu:hover {
    color: $color-base;
}

// .items-link:hover {
//     color: $color-base;
//     font-size: 2.8em;
// }

.imagen:hover {
    transform: scale(1.04);
    transition: all .3s ease-in-out;
}

.btn:hover {
    background-color: black;
    border: none;
    transition: all .3s ease-in-out;
    color: white;
}

.items:hover {
    animation: wiggle 2s linear infinite;
    background-color: black;
    color: $color-base;
    font-size: 1.1em;
    
}

@keyframes wiggle {

    0%,
    7% {
        transform: rotateZ(0);
    }

    15% {
        transform: rotateZ(-15deg);
    }

    20% {
        transform: rotateZ(10deg);
    }

    25% {
        transform: rotateZ(-10deg);
    }

    30% {
        transform: rotateZ(6deg);
    }

    35% {
        transform: rotateZ(-4deg);
    }

    40%,
    100% {
        transform: rotateZ(0);
    }
}